conda-test-drive/notebooks/.ipynb_checkpoints/python-test-run-checkpoint.ipynb
conda-test-drive/notebooks/.ipynb_checkpoints/
env-python-learn/notebooks/01-plots/.ipynb_checkpoints/
env-python-learn/notebooks/01-python-for-ds/.ipynb_checkpoints/
env-python-learn/notebooks/01-cheatsheets/.ipynb_checkpoints/
env-python-learn/notebooks/01-quick-review-python/.ipynb_checkpoints/
env-python-learn/notebooks/01-quick-review-python/.ipynb_checkpoints/
env-python-learn/notebooks/02-quick-review-plots/.ipynb_checkpoints/
env-python-learn/notebooks/03-gcp-with-python/.ipynb_checkpoints/
